<header>
    <div class="header-wrapper">
        <h1>SimpleBlogPlatform</h1>
    </div>
</header>

<nav>
    <div class="nav-wrapper">
        <ul class="menu">
            <li><a href="#">home</a></li>
            <li><%= link_to 'all', controller: 'posts' %></li>
            <li><%= link_to 'submit', new_post_path %></li>
        </ul>
    </div>
</nav>


<article>
    <div class="article-wrapper">
        <h2>Submit New Post:</h2>
        <%= render 'form' %>
    </div>
</article>
