// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-wrapper{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 5px;
}

input[type='text']{
    width: 25%;
}

textarea{
    width: 100%;
    min-height: 200px;
}
